h1, h2, h3, p,
button, body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(2, 0, 24);
}

h2.major {
    font-weight: bold;
    font-size: 50px;
}


h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(118, 106, 255);
}

#servicedetails {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: rgb(2, 0, 24);
}

#foreward {
    font-family: 'Titillium Web', sans-serif;
    font-size: l00px;
    font-style: italic;
    font-weight: bold;
    color: black;
}
.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.my-body {
    background-image: linear-gradient(#2bb8b1, white);
}

.jumbotron {
    font-weight: bold;
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, rgb(207, 205, 69), #090d25, #1997a8);
    color: white;
}


.navbar {
    color: black;
    background-image: linear-gradient(to right, rgb(207, 205, 69), #090d25, #1997a8);
    border: solid #37b6dd; 
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    font-family: 'Titillium Web', sans-serif;
}

#navbar-brand {
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    font-family: 'Titillium Web', sans-serif;
}

.img-fluid {
    border-radius: 20%;
        overflow: hidden;
}

.image img {
    border-radius: 20%;
    overflow: hidden;
}

#intro {
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: black;
}
.carousel {
    border: solid #37b6dd;
    font-family: 'Titillium Web', sans-serif;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #37b6dd;
}

.carousel {
    border: solid #37b6dd;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#contact {
    font-family: 'Titillium Web', sans-serif;
    width: 80%;
    /* or any other width */
    margin: 0 auto;
}


#videoModal {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-top: bottom;
}

#video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-thumbnail {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    cursor: pointer;
}



#about {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.modal-content iframe {
    width: 100%;
    height: 100%;
}



.line-break {
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(207, 205, 69), #090d25, #1997a8);
    margin: 20px 0;
}

.feature {
    display: flex;
}

.feature .image {
    flex: 1;
    margin-right: 1em;
}

.feature .content {
    flex: 2;
}

.feature .image img {
    width: 100%;
    height: auto;
}
